.d-block {
    display: block;
}

.p5-25 {
    padding: 50px 0px;
}
.p5-25--nm {
    padding: 50px 0px;
}
.p5-25f {
    padding: 50px 25px;
}

.p15-30 {
    padding: 15px 30px;
}
.p0-50 {
    padding: 0px 50px;
}

.m-a {
    margin: auto;
}
.m0-25 {
    padding: 0px 25px;
}
.m25-0 {
    margin: 25px 0;
}
.m25-25 {
    margin: 25px 25px;
}

.t-cntr {
    text-align: center;
}
.t-black {
    color: #000;
}
.t-white {
    color: #fff;
}

.br-10 {
    border-radius: 10px;
}

.full-wdth {
    width: 100%;
}

.back-grey {
    background-color: #F7F7F7;
}
.back-blue {
    background-color: #00386B;
}

.grd__full-column {
    grid-column: 2;
    grid-row: 1 / 3;
}

@media (max-width: 1600px) {
    .p5-25--nm {
        padding:  0px 0px 0px 0px;
    }
    .p5-25 {
        padding: 50px 25px;
    }
    .article-p {
        padding: 50px 25px;
    }
    .article-p-def {
        padding: 50px 0px;
    }
}
@media (max-width: 979px) {
    .full-wdth--mobile {
        width: 100%;
    }
    .grd__full-column {
        grid-column: inherit;
        grid-row: inherit;
    }
}
@media (max-width: 400px) {
    .full-wdth--mobile {
        width: 100%;
    }
    .grd__full-column {
        grid-column: inherit;
        grid-row: inherit;
    }
    .preview__body {
        padding: 50px 10px;
    }
}

