/* 
 * 1600px
 */
 @media (max-width: 1600px) {
    .about-us__content {
        grid-template-columns: 50% 1fr;
    }
    .about-us__body {
        padding: 25px 25px;
    }
    .virtual-ex__body {
        padding: 0 25px;
    }
    .virtual-ex__content {
        padding: 0 25px;
    }
}
/* 
 * 1360px
 */
@media (max-width: 1360px) {
    .main-slider__wrap-orange {
        transform: skewX(347deg);
    }
    .main-slider__logo {
        display: none;
    }
    .about-us__content {
        grid-template-columns: 45% 1fr;
    }
    .about-us__img {
        height: 650px;
    }
    .virtual-ex__excursion {
        height: 350px;
        /* width: 350px; */
    }

}
/* 
 * 979px
 */
@media (max-width: 979px) {
    .last-news .btn-container .more {
        width: 80%;
    }
    .last-news__top .btn-blue {
        width: 100%;
    }
    .last-news .border-header {
        margin: 0px 25px;   
    }
    .last-news__top{
        padding: 0px 25px;
    }
    .last-news__main {
        display: flex;
        flex-direction: column-reverse;
    }
    .slider__control {
        display: none;
    }
    .collab__body .border-header {
        margin: 0px 25px;
    }
    .collab__top {
        display: none;
    }
    .collab__title {
        font-size: 13px;
        text-align: center;
    }
    .virtual-ex__app-add {
        margin: 0px 0px 15px 0px;
    }
    .virtual-ex__content {
        padding: 0;
    }
    .virtual-ex__button button{
        width: 100%;
    }
    .virtual-ex__excursion {
        height: 220px;
    }
    .virtual-ex__app {
        display: block;
    }
    .virtual-ex__content  {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .about-us__body {
        height:max-content;
        padding: 25px 25px 0px 25px ;
    }
    .about-us__img {
        display: none;
    }
    .about-us__white {
        display: none;
    }
    .about-us__gradient {
        display: none;
    }
    .about-us__bg {
        display: none;
    }
    .about-us__content {
        display: block;
    }
    .about-us__img--mobile {
        position: relative;
        bottom: 0;
        right: -25px;
        display: flex;
        justify-content: flex-end;
        padding: 20px 0px 0px 0px;
    }
    .about-us__img--mobile img {
        height: 450px;
    }
    .main-slider__wrap-orange {
        display: none;
    }
    .main-slider__wrap {
        width: 100%;
        clip-path: initial;
    }
    .main-slider__content {
        flex-direction: column-reverse;
    }
    .main-slider__btn button{
        width: 100%;
    }
    .main-slider__logo--mobile {
        display: flex;
    }
    .main-slider__title-text {
        justify-content: space-around;
    }
    .main-slider__text {
        display: block;
    }
    .main-slider__text > * {
        margin: 25px 0px;
    }
    .main-slider__title {
        margin: 0px 0px 15px 0px;
    }
    .main-slider__logo-img {
        padding: 0;
        margin: 0px 5px 0px 0px;
        border: none;
        align-self: center;
    }
    .main-slider__title-text {
        border-left: 4px solid #EF7918;
        padding: 0px 0px 0px 5px;
    }
    .last-news__content .btn-container {
        margin: 50px 25px 50px 25px;
    }
    /* special */
    .special__content {
        grid-template-columns: 1fr;
    }
    .special__item:nth-child(3n + 2) {
        display: flex;
        flex-direction: column;
    }
    /* join-us */
    .form-group.join-us {
        display: block;
    }
    .form-group.join-us input {
        margin: 15px 0px;
    }
    .join-us input.btn-blue {
        width: 100%;
    }
}
/* 
 * 600px
 */

@media (max-width: 600px) {
    .collab__img {
        width: 120px;
    }
    .main-slider__title {
        font-size: 28px;
    }
    .main-slider__title-add {
        font-size: 14px;
    }
    .main-slider__logo-img img{
        height: 100%;
        width: 100px;
    }
    .border-header h1 {
        font-size: 32px;
    }
    .about-us__img--mobile img {
        height: 300px;
    }
}
/* 
 * 400px
 */

@media (max-width: 400px) {

}