/* 
 * 1600px
 */
@media (max-width: 1600px) {
    /* header-top styles */
    .header-top__menu li{
        font-size: 16px;
    }
    .header-top__text {
        display: none;
    }
    .social > * {
        margin: 0 10px 0 0 ;
    }
    article {
        padding: 0 25px;
    }
    .preview__img img {
        width: 550px;
    }
    .preview .page-header h1 {
        font-size: 36px;
        font-weight: 600;
    }
    .page-404__body {
        margin: 0 25px;
    }
    .page-404__img img{
        width: 600px;
    }
    .page-header.page-404  {
        font-size: 40px;
    }
    .callback {
        background-position: inherit;
    }
    .callback-body {
        padding: 0 25px;
    }
    .callback-body__image {
        padding: 0 25px;
    }
}
/* 
 * 1360px
 */
/* page content */
@media (max-width: 1360px) {
    .header-top__li {
        margin: 0px 10px 0px 10px;
    }
    .navbar__nav > li {
        margin: 0px 20px 0px 0px;
    }
}
/* 
 * 1280px
 */
/* page content */
@media (max-width: 1280px) {
    .header-top__menu li  {
        font-size: 14px;
    }
    /* .navbar__link {
        font-size: 14px;
    } */
    .header-top__body .social {
        display: none;
    } 
    .navbar__nav > li {
        font-size: 16px;
        margin: 0px 15px 0px 0px;
    }
    .schedule a div {
        display: none;
    }
    .breadcrumb__body {
        margin: 0 0 0 25px;
    }
    .preview__img img {
        width: 525px;
    }
    .preview__text{
        padding: 10px 0 50px 0;
    }
    .phone-number {
        font-size: 28px!important;
    }
    button {
        padding: 15px 30px;
    }

    .page-404__img img {
        width: 500px;
    }
    .callback-body__image {
        display: none;
    }
    .callback-body {
        padding: 25px;
    }
}
/* 
 * 979px
 */
@media (max-width: 979px) {
    body {
        overflow-x: hidden!important;
    }
    .btn-container button {
        width: 100%;
    }
    .border-header h2{
        font-size: 24px;
    }
    .form-group.horizontal span:last-child {
        margin: 0 0 0 0px;
    }
    
    /* header-top styles */
    .header-top__body nav {
        border: none;
    }
    .header-top__brand {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0px 10px 0px 10px;
    }
    .burger {
        display: block;
    }
    .mail, 
    .numbers, 
    .social, 
    .sumdu-logo {
        border: none;
    }
    .numbers {
        padding: 15px 0;
    }
    .numbers__text {
        display: flex;
    }
    .numbers__text * {
        padding: 10px 0;
    }
    .numbers__text a:last-child {
        border-left: 2px solid #d6e7f44b;;
    }

    .header-top__contacts {
        display: block;
        padding: 0;
    }
    .header-top__mobile-bottom {
        display: flex;
        flex-direction: column-reverse;
        max-height: 0;
        overflow: hidden;
        transition: all 1s;
    }
    .header-top__mobile-bottom.show {
        /* display: flex; */
        /* flex-direction: column-reverse; */
        max-height: 1000px;
    }
    .header-top__mobile-bottom nav {
        padding: 15px 0;
        /* flex: 1; */
    }
    .header-top__mobile-bottom ul {
        display: block;
        width: 100%;
        text-align: center;
        background-color: #EFEFEF;
        padding: 0;
    }
    .header-top__menu .current-menu-item{
        background-color: #0000001A;
    }
    .header-top__mobile-bottom ul li {
        padding: 20px 0;
        border-top: 1px solid #0000001A;
        border-bottom: 1px solid #0000001A;
        margin: 0;
    }
    .header-top__mobile-bottom ul li:first-child {
        border: none;
    }
    .header-top__mobile-bottom ul li:last-child {
        border: none;
    }
    .header-top__body {
        display: block;
    }
    .header-top__text {
        display: block;
    }
    .header-top__body .social {
        display: flex;
        border-left: 2px solid #d6e7f44b;
        border-right: 2px solid #d6e7f44b;;
    }
    /* navbar styles */
    .navbar {
        padding: 0;
    }
    .navbar__body {
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
        font-weight: 700;
    }
    .navbar__body nav {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .navbar__sub-menu {
        max-height: 0;
        overflow: hidden;
        transition: all 0.7s;
    }
    .navbar__bottom {
        display: block;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: all 0.7s;
    }
    .navbar__bottom.active{
        transition: all 0.7s;
        max-height: 1000px;
    }
    .navbar__nav {
        display: block;
        width: 95%;
    }
    .navbar__arrow {
        transition: all 0.7s;
    }
    .navbar__nav .navbar__arrow.active {
        rotate: 180deg;
    }
    .navbar__sub-menu.show {
        max-height: 1000px;
    }
    .navbar__nav .menu-head-container {
        width: 100%;
    }
    .navbar__link {
        font-size: 18px;
    }
    .navbar__sub-menu {
        position: initial;
        display: none;
        max-height: 0;
        font-weight: 400;
    }
    .navbar__sub-menu.show{
        display: block;
        max-height: 1000px;
    }
    body.desktop .navbar__nav > li:hover .navbar__sub-menu {
        display: inline;
    }
    .navbar__additional {
        padding: 30px 0;
        border-bottom: 2px solid #fff;
    }
    .navbar__nav .arrow {
        top: 27px;
        right: inherit;
    }
    .navbar__nav > .navbar__li {
        padding: 20px 0;
        margin: 0;
        text-align: center;
        border-top: 1px solid #ffffff15;
    }
    .navbar__body .search {
        margin: 0;
    }
    .navbar__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 15px 0;
        border-bottom: 2px solid #fff;
    }
    .navbar__top * {
        margin: 0 10px 0 10px;
    }
    .schedule {
        display: block;
    }
    .schedule a div{
        display: block;
    }
    .navbar__more-btn {
        display: block;
    }
    .breadcrumb__body {
        margin: 0 0 0 20px;
    }

    article {
        padding: 0 35px;
    }

    .preview {
        margin: 0 0 50px 0 ;
    }
    .preview__body {
        display: block;
    }
    .preview__img {
        text-align: center;
    }
    .preview__img img {
        width: 500px;
    }

    .page-404__body {
        flex-direction: column-reverse;
        align-items: center
    }
    .page-404__img {
        margin: 0;
    } 
    .callback-body__form .form-group.horizontal {
        flex-direction: column;
        margin: 0;
    } 
    .callback-body__form .form-group{
        margin: 0;
    } 
    .callback-body__form .form-group.horizontal input {
        width: 100%;
    } 
    .callback-body__form .btn-container input {
        width: 100%;
    }
    .callback-body__form .form-group input {
        margin: 15px 0;   
    } 
    .footer-body__menu {
        margin: 50px 0 0 10px;
    }
    .footer-body__li {
        font-size: 20px;
    }
    .footer-body__phones {
        margin: 20px;
    }
    .footer-body {
        display: block;
    }
    .footer-body__contacts {
        text-align: center;
    }
    .footer-body .email {
        justify-content: center;
    }
}
/* 
 * 600px
 */
/* page content */
@media (max-width: 600px) {
    .preview__img img {
        width: 330px;
    }
    table {
        font-size: 12px;
        margin: 0 20px 0 0;
    }
    .page-404__img img {
        width: 330px;
    }
    .callback-body__form {
        padding: 25px 25px;
    }
}
/* 
 * 400px
 */
/* page content */
@media (max-width: 400px) {
    .header-top__contacts .numbers {
        font-size: 15px;
    }
    .preview__img img {
        width: 330px;
    }
    table {
        font-size: 10px;
    }
    .callback-body__form {
        padding: 15px 15px;
    }
    .sumdu-logo img {
        height: 25px;
    }
}