/* 
 * 1600px
 */
@media (max-width: 1600px) {
    .kvp-gallery__item  {
        width: 30.34%;
    }
    .header-top {
        padding: 10px 25px;
    }
    .breadcrumb__body,
    .navbar__body {
        padding: 0px 25px;
    }
    /* ADDITIONAL */
    .main-slider,
    .special,
    .virtual-ex,
    .p5-25,
    .collab {
        padding: 50px 25px;
    }
    .special__body {
        padding: 0px 25px;
    }
    .article-p {
        padding: 50px 25px;
    }
    /* article */
    article {
        padding: 25px 25px;
    }
    .article-with-nav__grid {
        padding: 50px 25px;
    }
    /* header-top styles */
    .header-top__menu li{
        font-size: 16px;
    }
    .header-top__text {
        display: none;
    }
    .header-top__branding {
        margin: 0 25px 0 0;
    }
    .social > * {
        margin: 0 10px 0 0 ;
    }
    .preview .page-header h1 {
        font-size: 36px;
        font-weight: 600;
    }
    .preview__body {
        margin: 0;
    }
    .kvp-logo {
        padding: 0 0 50px 0;
    }
    .employment-temp__body {
        display: flex;
        padding: 50px;
    }
    /* page-404 */
    .page-404__body {
        margin: 0 25px;
    }
    .page-404__img img{
        width: 600px;
    }
    .page-header.page-404  {
        font-size: 40px;
    }
    /* callback */
    .callback {
        background-position: inherit;
    }
    .callback-body {
        padding: 0 25px;
    }
    .callback-body__image {
        padding: 0 25px;
    }
    .single-post .last-news__body {
        padding: 100px 25px;
    }
    .last-news__body,
    .collab__body {
        padding: 0px 25px;
    }
    /* news */
    .news__body {
        padding: 50px 25px;
    }
    .news__grid {
        gap: 5px;
    }
    .single-post__body .news__popular {
        margin: 0px 50px 0px 0px;
    }
    /* about-us */
    .about-us__content {
        grid-template-columns: 50% 1fr;
    }
    .about-us__body {
        padding: 25px 25px;
    }
    /* virtual-ex */
    .virtual-ex__body {
        padding: 0 25px;
    }
    .virtual-ex__content {
        padding: 0 25px;
    }
    .preview__body .btn-container.img-none {
        margin-bottom: 50px;
    }
    .search-result {
        padding: 0px 25px;
    }
}
/* 
 * 1400px
 */
@media (max-width: 1400px) {
    /* news */
    .news__grid {
        grid-template-columns: repeat(2, 1fr);
    }
    /* preview */
    .preview-section {
        padding: 0;
    }
    .preview__text.main-text {
        width: 50%;
    }
}
/* 
 * 1360px
 */
/* page content */
@media (max-width: 1360px) {
    /* header-top styles */
    .header-top__li {
        margin: 0px 10px 0px 10px;
    }
    /* navbar styles */
    .navbar__nav > li {
        margin: 0px 20px 0px 0px;
    }
    /* news styles */
    .news__grid {
        gap: 50px;
    }
    .special__content {
        grid-template-columns: 1fr 1fr;
    }
    .special__item:nth-child(3n + 2) {
        flex-direction: column;
    }
    /* main-slider */
    .main-slider__wrap-orange {
        transform: skewX(347deg);
    }
    .main-slider__logo {
        display: none;
    }
    /* about-us styles */
    .about-us__content {
        grid-template-columns: 45% 1fr;
    }
    .about-us__img {
        height: 650px;
    }
    /* virtual-ex styles */
    .virtual-ex__excursion {
        height: 350px;
    }
}
/* 
 * 1280px
 */
/* page content */
@media (max-width: 1280px) {
    /* header-top styles */
    .header-top__menu li  {
        font-size: 14px;
    }
    .header-top__body .social {
        display: none;
    }
    .navbar__nav > li {
        font-size: 16px;
        margin: 0px 15px 0px 0px;
    }
    .virtual-ex__app {
        gap: 15px;
    }
    /* .navbar__link {
        font-size: 14px;
    } */
    .schedule a div {
        display: none;
    }
    /* breadcrumbs */
    /* .breadcrumb__body {
        margin: 0 0 0 25px;
    } */
    /* preview */
    .phone-number {
        font-size: 28px!important;
    }
    button {
        padding: 10px 30px;
    }
    /* page-404 */
    .page-404__img img {
        width: 500px;
    }
    /* callback */
    .callback-body__image {
        display: none;
    }
    .callback-body {
        padding: 25px;
        justify-content: center;
    }
}
/* 
 * 979px
 */
@media (max-width: 979px) {
    .kvp-gallery__body {
        margin-left: -15px;
    }
    .kvp-gallery__item {
        width: 100%;
    }
    body {
        overflow-x: hidden!important;
    }
    .single-post .last-news__body {
        padding: 0px 25px;
    }
    .single-post__body {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .collab__slider,
    .collab__body {
        gap: 50px
    }
    .border-header h2,
    .border-header h1 {
        font-size: 32px;
    }
    .border-header h3 {
        font-size: 24px;
    }
    .preview-section .page-title {
        font-size: 32px;
        font-weight: 600;
    }
    .preview__img img {
        max-height: 350px;
    }
    .page-title {
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }
    .page-title .title-long{
        word-break: break-all;
    }
    .page-title.title-28 {
        font-size: 28px;
    }
    /* ADDITIONAL */
    .full-wdth--mobile {
        width: 100%;
    }
    .grd__full-column {
        grid-column: inherit;
        grid-row: inherit;
    }
    /* btn */
    .btn-container button {
        width: 100%;
    }
    .form-group.horizontal span:last-child {
        margin: 0 0 0 0px;
    }
    .header-top__text {
        display: grid;
        gap: 5px;
    }
    .header-top {
        padding: 10px 0;
    }
    .single-post__body .news__popular {
        margin: 0;
    }
    related-news {
        padding: 50px 25px;
    }
    .single-post .last-news__body {
   
    }
    /* header-top styles */
    .header-top__body nav {
        border: none;
    }
    .header-top__brand {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0px 10px 0px 10px;
    }
    .burger {
        display: block;
    }
    .mail, 
    .numbers, 
    .social, 
    .sumdu-logo {
        border: none;
    }
    .numbers {
        padding: 25px 0 0 0;
    }
    .numbers__text {
        display: flex;
    }
    .numbers__text * {
        padding: 10px 0;
    }
    .numbers__text a:last-child {
        border-left: 2px solid #d6e7f44b;;
    }
    .header-top__contacts {
        display: block;
        padding: 0;
    }
    .header-top__mobile-bottom {
        display: flex;
        flex-direction: column-reverse;
        max-height: 0;
        overflow: hidden;
        transition: all 1s;
    }
    .header-top__mobile-bottom.show {
        max-height: 1000px;
    }
    .header-top__mobile-bottom nav {
        padding: 15px 0;
    }
    .header-top__mobile-bottom ul {
        display: block;
        width: 100%;
        text-align: center;
        background-color: #EFEFEF;
        padding: 0;
    }
    .header-top__menu .current-menu-item{
        background-color: #0000001A;
    }
    .header-top__mobile-bottom ul li {
        padding: 20px 0;
        border-top: 1px solid #0000001A;
        border-bottom: 1px solid #0000001A;
        margin: 0;
    }
    .header-top__mobile-bottom ul li:first-child {
        border: none;
    }
    .header-top__mobile-bottom ul li:last-child {
        border: none;
    }
    .header-top__body {
        display: block;
    }
    .header-top__text {
        display: block;
    }
    .header-top__body .social {
        display: flex;
        border-left: 2px solid #d6e7f44b;
        border-right: 2px solid #d6e7f44b;;
    }
    .numbers__text {
        display: flex;
    }
    .numbers select {
        display: none;
    }
    .header-top__icons {
        margin-top: 15px;
    }
    .header-top__li a {
        font-size: 18px;
    }
    /* navbar styles */
    .navbar {
        padding: 0;
    }
    .navbar__body {
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
        font-weight: 700;
    }
    .navbar__body nav {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .navbar__sub-menu {
        max-height: 0;
        overflow: hidden;
        transition: all 0.7s;
    }
    .navbar__bottom {
        display: block;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: all 0.7s;
    }
    .navbar__bottom.active{
        transition: all 0.7s;
        max-height: 1000px;
    }
    .navbar__nav {
        display: block;
        width: 95%;
    }
    .navbar__arrow {
        transition: all 0.7s;
    }
    .navbar__nav .navbar__arrow.active {
        rotate: 180deg;
    }
    .navbar__sub-menu {
        border: none;
    }
    .navbar__sub-menu.show {
        max-height: 1000px;
    }
    .navbar__nav .menu-head-container {
        width: 100%;
    }
    .navbar__link {
        font-size: 18px;
    }
    .navbar__sub-menu {
        position: initial;
        display: none;
        max-height: 0;
        font-weight: 400;
    }
    .navbar__sub-menu.show{
        display: block;
        max-height: 1000px;
    }
    body.desktop .navbar__nav > li:hover .navbar__sub-menu {
        display: inline;
    }
    .navbar__additional {
        padding: 30px 0;
        border-bottom: 2px solid #fff;
    }
    .navbar__nav .arrow {
        top: 27px;
        right: inherit;
    }
    .navbar__nav > .navbar__li {
        padding: 20px 0;
        margin: 0;
        text-align: center;
        border-top: 1px solid #ffffff15;
    }
    .navbar__body .search {
        margin: 0;
    }
    .search-result {
        padding: 0px 25px;
    }
    .navbar__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 15px 0;
        border-bottom: 2px solid #fff;
    }
    .navbar__top * {
        margin: 0 10px 0 10px;
    }
    .schedule {
        display: block;
    }
    .schedule a div{
        display: block;
    }
    .navbar__more-btn {
        display: block;
    }
    /* article */
    article {
        padding: 25px 35px;
    }
    /* single */
    .single-post .news__popular { 
        display: block;
    }
    /*virtual-ex */
    .virtual-ex__content {
        padding: 0;
    }
    .virtual-ex__button button{
        width: 100%;
    }
    .virtual-ex__excursion {
        height: 220px;
    }
    .virtual-ex__app {
        display: block;
    }
    .virtual-ex__content  {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .virtual-ex__app-add {
        margin: 0px 0px 15px 0px;
    }
    .virtual-ex__excursion.grd__full-column {
        margin-bottom: 40px;
    }
    /* about-us */
    .about-us__body {
        height:max-content;
        padding: 25px 25px 0px 25px ;
    }
    .about-us__img {
        display: none;
    }
    .about-us__white {
        display: none;
    }
    .about-us__gradient {
        display: none;
    }
    .about-us__bg {
        display: none;
    }
    .about-us__content {
        display: block;
    }
    .about-us__img--mobile {
        position: relative;
        bottom: 0;
        right: -25px;
        display: flex;
        justify-content: flex-end;
        padding: 20px 0px 0px 0px;
    }
    .about-us__img--mobile img {
        height: 450px;
    }
    /* news */
     .news__body {
        grid-template-columns: 1fr;
    }
    /*.news__grid {
        grid-template-columns: 1fr;
        justify-items: center;
    } */
    .news__grid {
        display: flex;
        flex-direction: column;
    }
    .news__popular {
        position: relative;
        order: 1;
    }
    .news__popular-title,
    .news__popular-main {
        position: relative;
        z-index: 2;
    }
    /* page-navigation */
    .page-navigation__body {
        margin: 0;
    }
    /* last-news */
    .last-news__content .btn-container {
        margin: 50px 25px 50px 25px;
    }
    /* collab */
    .collab__top {
        display: none;
    }
    .collab__title {
        font-size: 13px;
        text-align: center;
    }
    .last-news__content-main {
        display: block;
        overflow: hidden;
    }
    .table-wrap {
        border-top: 2px solid #DBDDDE;
        border-bottom: 2px solid #DBDDDE;
        box-shadow: rgb(197 201 205 / 20%) 0px 8px 24px;
    }
    /* preview */
    .preview__body {
        display: block;
        padding: 50px 10px 0px 10px;
    }
    .preview-numbers {
        display: none;
    }
    .employment-temp__body {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    .preview-numbers-mobile {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .preview__phone-icon {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .preview__phone-icon img {
        height: 64px;
    }
    .preview {
        margin: 0 0 50px 0 ;
    }
    .preview__img {
        text-align: center;
        width: 100%;
        height: 100%;
    }
    .preview__logo {
        width: inherit;
    }
    .preview__text .btn-container button  {
        width: inherit;
    }
    .preview-section.back-grey {
        padding: 0;
    }
    .preview-section.employment-section.back-grey {
        padding: 50px 0;
    }
    .preview__text.main-text {
        width: 100%;
    }
    .article-with-nav__grid {
        grid-template-columns: 1fr;
    }
    .references__grid {
        grid-template-columns: 1fr;
    }
    /* kvp-galler */
    .kvp-gallery__body {
        grid-template-columns: repeat(2, 1fr);
    }
    /* slider */
    .slider__control {
        display: none;
    }
    /* main-slider */
    .main-slider__wrap-orange {
        display: none;
    }
    .main-slider__wrap {
        width: 100%;
        clip-path: initial;
    }
    .main-slider__content {
        flex-direction: column-reverse;
    }
    .main-slider__btn button{
        width: 100%;
    }
    .main-slider__logo--mobile {
        display: flex;
    }
    .main-slider__title-text {
        justify-content: space-around;
    }
    .main-slider__text {
        display: block;
    }
    .main-slider__text > * {
        margin: 25px 0px;
    }
    .main-slider__title {
        margin: 0px 0px 15px 0px;
    }
    .main-slider__logo-img {
        padding: 0;
        margin: 0px 5px 0px 0px;
        border: none;
        align-self: center;
    }
    .main-slider__title-text {
        border-left: 4px solid #EF7918;
        padding: 0px 0px 0px 5px;
    }
    /* special */
    .special__content {
        grid-template-columns: 1fr;
    }
    .special__item:nth-child(3n + 2) {
        display: flex;
        flex-direction: column;
    }
    /* join-us */
    .form-group.join-us {
        display: block;
    }
    .form-group.join-us input {
        margin: 15px 0px;
    }
    .join-us input.btn-blue {
        width: 100%;
    }
    /* single-post */
    .single-post__footer {
        flex-direction: column;
        gap: 30px;
    }
    .single-post__top-img {
        height: 350px;
    }
    /* page-404 */
    .page-404__body {
        flex-direction: column-reverse;
        align-items: center
    }
    .page-404__img {
        margin: 0;
    } 
    article figure {
        flex-direction: column;

    }
    article figure figure {
        width: 100%!important;
    }
    /* custom-mail */
    .custom-mail__body {
        padding: 25px;
    }
    .custom-mail__body {
        flex-direction: column;
        gap: 30px;
    }
    .custom-mail__top {
        width: inherit;
    }
    .kvp-news-search {
        padding: 50px 0px;
    }
    /* callback */
    .callback-body__form .form-group.horizontal {
        display: flex;
        flex-direction: column;
        margin: 0;
    } 
    .callback-body__form .form-group{
        margin: 0;
    } 
    .callback-body__form .form-group.horizontal input {
        width: 100%;
    } 
    .callback-body__form .btn-container input {
        width: 100%;
    }
    .callback-body__form .form-group input {
        margin: 15px 0;   
    } 
    /* footer */
    .footer-body__menu {
        margin: 50px 0 0 10px;
    }
    .footer-body__li {
        font-size: 20px;
    }
    .footer-body__phones {
        margin: 20px;
    }
    .footer-body {
        display: block;
    }
    .footer-body__contacts {
        text-align: center;
    }
    .footer-body .email {
        justify-content: center;
    }
    .footer-body__menu ul li {
        margin-bottom: 15px;
    }
    .form-group span {
        margin: 0;
    }
    .join-us__content span.btn-container input {
        width: 100%;
    }
    .join-us__form {
        padding: 30px 25px;
    }
    .special__img {
        width: 100%;
        height: 300px;
    }
}
/* 
 * 600px
 */
@media (max-width: 600px) {
    /* single-post */
    .single-post__top-img {
        height: 250px;
    }
    /* slider */
    .slider__switcher button {
        padding: 0px 5px;
    }
    table {
        font-size: 14px;
    }
    /* preview_ */
    .preview__body.preview__center-img {
        padding: 25px;
    }
    .kvp-logo {
        padding: 0;
    }
    /* page-404 */
    .page-404__img img {
        width: 330px;
    }
    /* kvp-gallery */
    .kvp-gallery__body {
        grid-template-columns: repeat(1, 1fr);
    }
    /* callback */
    .callback-body__form {
        padding: 25px 25px;
    }
    .callback-body {
        display: block;
    }
    /* news */
    .news__body {
        padding: 0;
    }
    /* kvp-search */
    .kvp-search__search-form .kvp-search__search-field {
        width: 50%;
    }
    /* collab */
    .collab__img {
        width: 120px;
    }
     /* main-slider */
    .main-slider__title {
        font-size: 28px;
    }
    .main-slider__title-add {
        font-size: 14px;
    }
    .main-slider__logo-img img{
        height: 100%;
        width: 100px;
    }
    article p {
        hyphens: auto;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        word-break: break-word;
    }
    /* about-us */
    .about-us__img--mobile img {
        height: 300px;
    }
    /* virtual-ex-top */
    .virtual-ex__content {
        display: block;
    }
    .virtual-ex__body {
        padding: 0;
    }
    .virtual-ex__app-text {
        margin: 25px 0;
    }
    /* last-news-top */
    .last-news__img {
        height: 200px;
    }
    .last-news__content-top {
        display: block;
    }
    .last-news__content-main {
        grid-gap: 0px;
    }

    .collab__body {
        padding: 0px 0px;
    }
    .special__img {
        height: 300px;
    }
}
/* 
 * 400px
 */
@media (max-width: 400px) {
    /* ADDITIONAL */
    .full-wdth--mobile {
        width: 100%;
    }
    .grd__full-column {
        grid-column: inherit;
        grid-row: inherit;
    }
    /* header-top */
    .header-top__contacts .numbers {
        font-size: 15px;
    }
    .sumdu-logo img {
        height: 20px;
    }
    .kvp-search__search-submit {
        display: none;
    }
    /* header-top */
    .navbar__sub-menu {
        min-width: inherit;
    }
    /* preview */
    .preview__body {
        margin: 0;
        display: block;
        padding: 25px 25px 0px 25px;
    }
    /* news */
    .news__popular-title {
        font-size: 20px;
    }
    .news__img {
        height: 250px;
    }
    .slider__switcher {
        display: none;
    }
    /* callback */
    .callback-body__form {
        padding: 15px 15px;
    }
    /* references */
    .references__text {
        font-size: 16px;
    }
    .references__grid {
        display: flex;
        flex-direction: column;
    }
    /* collab */
    .collab__img {
        width: 100px;
    }
    .last-news.p5-25 {
        padding: 50px 0;
    }
    .last-news__content .btn-container button{
        padding: 10px 10px;
    }
    .news__content .btn-container.t-cntr.m25-25 {
        margin: 0;
    }
    .news__content-top {
        display: block;
    }
    .employment-temp__body {
        display: flex;
        flex-direction: column;
        gap: 35px;
        padding: 25px;
    }
    .employment-section.back-grey {
        padding: 50px 0;
    }
    .special__body {
        padding: 0;
    }
    .special__img {
        height: 200px;
    }
}
/* 
 * 360px
 */
/* page content */
@media (max-width: 360px) {

    .btn-container button span {
        display: none;
    }
    .btn-container button {
        font-size: 14px;
    }
    /* header-top */
    .header-top__text h2 {
        font-size: 17px;
    }
    .header-top__logo {
        display: flex;
        align-items: center;
    }
    .social {
        padding: 0 10px;
    }
    .phone-icon {
        display: none;
    }
    .numbers__text {
        margin: 0;
    }
    .news__grid .news__img {
        width: 100%;
    }
    /* news */
    .news__img {
        height: 200px;
    }
    .news__content {
        width: 260px;
    }
    .news__content .btn-container {
        margin: 0;
    }
    .news__content button span {
        display: none;
    }
    .news__content-main {
        margin-bottom: 50px;
    }
    /* main-slider */
    .main-slider__logo--mobile {
        display: block;
    }
    .main-slider__logo-img {
        text-align: center;
        margin-bottom: 15px;
    }
    .main-slider__title-text {
        text-align: center;
        margin-bottom: 15px;
    }
    /* special */
    .special__icon img {
        width: 50px;
    }
    .employment-temp__body {
        padding: 25px;
    }
}