body {
    font-family: 'Roboto', sans-serif!important;
    font-size: 18px;
    font-weight: 400;
}
a {
    text-decoration: none;
}
.border-header {
    border-left: 3px solid #EF7918;
    display: block;
    text-transform: uppercase;
}
.border-header h2 {
   padding: 15px;
   font-size: 30px;
   font-weight: 700;
}
.border-header h1 {
    padding: 15px;
    font-size: 48px;
    font-weight: 700;
 }
.c-arrow {
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
  
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
  
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
  
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.burger {
    display: none;
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
    transition: all 0.7s ease 0s;
}
.burger span {
    position: absolute;
    display: block;
    background-color: #00386B;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    top: 9px;  
    border-radius: 5em;
} 
.burger::before,
.burger::after {
    content: '';
    background-color: #00386B;
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 5em;
}
.burger::before {
    top: 0;
}
.burger::after {
    bottom: 0;
}
.burger.open span {
    transform: scale(0);
    transition: all 0.7s ease 0s;
}
.burger.open::before {
    transform: rotate(45deg);
    top: 9px;
    background-color: #FF0000;
    transition: all 0.7s ease 0s;
}
.burger.open::after {
    transform: rotate(-45deg);
    bottom: 9px;
    background-color: #FF0000;
    transition: all 0.7s ease 0s;
}
/* buttons styles */
button,
input.btn-blue {
    padding: 20px 30px;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}
.btn-blue {
    background-color: #00386B;
}
.more-btn {
    background-color: #00386B;
    padding: 15px 20px;
    margin: 0 30px;
}   
.btn-white {
    background-color: #fff;
    color: #000;
    padding: 10px 50px;
    display: flex;
    align-items: center;
}
.btn-white img {
    margin-left: 5px;
}
input[type=checkbox] {
    transform: scale(1.5);
}
.container {
    max-width: 1920px;
    margin: auto;
}
/* article styles */
article {
    margin: 0 0 50px 0;
    padding: 0 35px;
}
article p,
article ol {
    line-height: 1.2;
}
article p strong {
    font-size: 24px;
    font-weight: 700;
}
article p.has-large-font-size strong {
    font-weight: 600;
    font-size: 32px;
}
article p.has-medium-font-size {
    font-weight: 700;
    font-size: 18px;
    color: #49545A;
}
article .entry-content p {
    margin: 30px 0;
}
article ol {
    list-style-type: decimal;
}
article ol ol{
    margin-left: 25px;
}
article ol li{
    color: #49545a;
    margin: 15px 0;
}
article ol li::marker{
    color: #EF7919;
}
article table {
    color: #49545a;
}
article table strong{
    font-weight: 700;
}
article td {
    border: 1px solid #DBDDDE;
    padding: 10px;
}
/* header styles */
/* header top styles */
.header-top {
    background-color: #fff;
    padding: 10px 0;
}
.header-top__body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header-top__body > *,
.header-top__mobile-bottom > *  {
    padding: 0 15px;
}
.header-top__body nav {
    display: flex;
    align-items: center;
    border-left: 2px solid #d6e7f45c;
    flex: 1;
    justify-content: center;
}
.header-top__mobile-bottom {
    display: flex;
    flex: 1;
}
.header-top__li:hover{

}
.header-top__li {
    margin: 0px 15px 0px 15px;
    font-size: 18px;
    font-weight: 700;
}
.header-top__li a {
    color: #000;
}
.header-top__branding {
    display: flex;
    color: #00386B;
}
.header-top__menu {
    display: flex;
    padding: 15px 0;
}
.numbers-select {
    font-size: 16px;
    font-weight: 300;
    color: #404040;
    border: none;
}
.social > * {
    margin: 0 15px 0 0 ;
}
.numbers a{
    padding: 0 5px;
}
.numbers a div{
    color: #404040;
}
.mail,
.numbers,
.social,
.sumdu-logo {
    border-left: 2px solid #d6e7f45c;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 25px;
}
.header-top__contacts {
    display: flex;
}
.header-top__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-top__icons .mail{
    height: 100%;
}
.header-top__logo  img{
    height: 60px;
}
.header-top__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 0 10px;
}
.header-top__text h2{
    font-size: 18px;
    font-weight: 700;
}
.header-top__text p{
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}
/* header__navbar styles */
.navbar {
    background-color: #00386B;
    padding: 15px 0;
}
.navbar__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}
.navbar__bottom {
    display: flex;
    flex: 1;
    justify-content: space-between;
}
.navbar__nav{
    display: flex;
}
.navbar__additional {
    display: flex;
}
.navbar__nav > li{
    margin: 0px 45px 0px 0px;
}
.navbar button {
    padding: 0;
    background-color: transparent;
    color: #fff;
}
.navbar__more-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;
}
.navbar__more-btn i{
    margin: 0 0 0 10px;
    position: relative;
    bottom: 4px;
    transition: all 0.7s;
}
.navbar__more-btn.active i{
    rotate: 180deg;
    bottom: -4px;
}
/* pc version */
body.desktop .navbar__nav > li:hover .navbar__sub-menu {
   display: block;
}
.navbar__arrow {
    transition: all 0.2s;
}
body.desktop .navbar__nav > li:hover .navbar__arrow {
    rotate: 180deg;
}
.navbar__link.parent {
    margin: 0 20px 0 0;
}
.navbar__sub-menu {
    display: none;
    min-width: 350px;
    position: absolute;
    left: 0;
    top: 19px;
    background-color: #00386B;
    padding: 20px 0 0 0;
    transition: all 0.7s;
}
.navbar__sub-menu li a {
    display: inline-block;
    padding: 15px 10px;
}
.navbar__li {
    position: relative;
}
.navbar__li a {
    color: #fff;
    text-decoration: none;
}
.arrow {
    position: absolute;
    right: 0;
    top: 7px;
    width: 0;
    height: 0;  
    border-top: 5px solid #fff;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}
.search {
    margin: 0 0 0 50px;
}
.schedule a {
    display: flex;
    color: #fff;
    text-decoration: none;
}
.schedule {
    margin: auto;
}
.schedule a img {
    margin: 0 5px 0 0;
}
/* breadcrumb styles */
.breadcrumb {
    background-color: #DDDDDD;
    padding: 25px 0 25px 0;
    color: rgba(29, 29, 27, 1);
    font-size: 18px;
}
.breadcrumb__body {
    display: flex;
    align-items: center;
    margin: 0 0 0 25px;
}
/* article preview styles */
.preview {
    margin: 50px 25px;
}
.preview__body {
    display: flex;   
    background-image: linear-gradient(to right, #00386bbf 0%, #3d4037c9 100%);
}
.preview__text {
    color: #fff;
    margin: 0px 25px 0px 25px;
    font-size: 22px;
}
.preview__img {
    height: 100%;
}
.preview__img img{
    width: 675px;
}
/* page headers styles */
.page-header {
    margin: 30px 0;
    border-left: 3px solid #EF7918;
    display: block;
    text-transform: uppercase;
}
.page-title {
    padding: 15px;
    font-size: 48px;
    font-weight: 700;
}
/* 404 styles */
.page-404__body {
    display: flex;
    padding: 150px 0;
    margin: 0 25px;
}
.page-header.page-404 {
    font-size: 48px;
    font-weight: 900;
}
.page-header.page-404 h1{
    margin: 0 0 0 15px;
    line-height: 1.3;
}
.page-404__desc .description {
    font-size: 18px;
    margin: 25px 0;

}
.page-404__img {
    margin-right: 50px;
}
/* callback */
.callback-container {
    max-width: 1920px;
    margin: auto;
}
.callback-body {
    display: flex;
    justify-content: space-evenly;
    background-repeat: no-repeat;
}
.callback-body__image {
    height: 800px;
}
.callback-body__form {
    background-color: #fff;
    margin: auto 0px;
    font-weight: 600;
    padding: 50px 50px;
}
.callback__form {
    margin: 15px 0;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin: 25px 0;
}
.form-group span {
    margin: 15px 0 0 0;
}
.form-group span input {
    width: 100%;
    padding: 15px 0;
    border: 1px solid #5F675A;
    text-indent:15px;
}

.form-group.horizontal {
    display: block;
}
.form-group.horizontal span:last-child {
    margin: 0 0 0 30px;
}
.form-group.horizontal span input {
    width: 300px;
}
.form-group span textarea {
    width: 100%;
    resize: none;
    font-family: 'Roboto', sans-serif!important;
    text-indent: 15px;
    border: 1px solid #5F675A;
    padding: 15px 0 0 0;
    margin: 15px 0 ;
}
/* footer */
.main-footer {
    background-color: #00386B;
    color: #fff;
}
.footer-container {
    max-width: 1920px;
    margin: auto;
}
.footer-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
}
.footer-body__branding {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}
.footer-body__branding .logo img{
    height: 75px;
}
.footer-body__branding .faculty{
    font-size: 18px;
    font-weight: 900;
    padding: 10px 0;
}
.footer-body__menu a{
    text-decoration: none;
    color: #fff;
}
.footer-body__li {
    margin: 10px;
}
.footer-body__phones .phone {
    margin: 25px 0;
}
.footer-body__phones .phone-type {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 700;
}
.footer-body__phones .phone-number {
    font-size: 36px;
    font-weight: 700;
}
.footer-body__contacts .contact-btn { 
    background-color: #EF7919;
}
.footer-body__contacts .email {
    display: flex;
    margin: 15px;
    font-size: 16px;
    font-weight: 700;
    align-items: center;
}
.footer-body__contacts p {
    margin-left: 5px;
}
.footer-body__contacts .icons {
    text-align: center;
}
.footer-body__contacts .icons img{
    margin: 0 10px;
}

.edit-footer {
    font-size: 24px;
    margin: 25px 0;
}
.edit-footer a {
    text-decoration: none;
}